.technical-expertise-right {
    background-color: #e5f6ff;
    padding: 30px
}

.py-120 {
    padding: 120px 0
}

@media (max-width:991px) {
    .py-120 {
        padding: 80px 0
    }
}

@media (max-width:667px) {
    .py-120 {
        padding: 60px 0
    }
}

.case-study .swiper-button-prev-unique {
    bottom: 250px !important
}

.case-study .swiper-button-next-unique {
    bottom: 250px !important
}

.case-study-details-banner {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 895px;
    position: relative
}

@media (max-width:767px) {
    .case-study-details-banner {
        min-height: 50vh
    }
}

.case-study-details-banner::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 19, 69, .85);
    backdrop-filter: blur(15px)
}

.case-study-details-banner .case-study-details-wrap {
    padding-top: 85px;
    position: relative;
    z-index: 22
}

.case-study-details-banner .case-study-details-wrap .case-details-content {
    min-height: 400px;
    display: flex;
    align-items: center
}

.back-to-case {
    transition: .2s all linear
}

.back-to-case:hover {
    color: #fff
}

.back-to-case svg {
    fill: #36b7ff;
    transition: .2s all linear
}

.back-to-case:hover svg {
    fill: #fff !important;
    fill: #36b7ff
}

.case-details-content .fs-64 {
    font-size: 64px
}

@media (max-width:991px) {
    .case-details-content .fs-64 {
        font-size: 54px
    }
}

@media (max-width:576px) {

    .blog-details-wrap .wp-block-table td,
    .wp-block-table th {
        padding: 10px 15px
    }

    .case-details-content .fs-64 {
        font-size: 44px
    }
}

.pt-120 {
    padding-top: 120px
}

@media (max-width:991px) {
    .pt-120 {
        padding-top: 80px
    }
}

@media (max-width:991px) {
    .pb-120 {
        padding-bottom: 80px
    }
}

@media (max-width:576px) {
    .pt-120 {
        padding-top: 60px
    }
}

@media (max-width:576px) {
    .pb-120 {
        padding-bottom: 60px
    }
}

.pb-120 {
    padding-bottom: 120px
}

.case-overview {
    margin-top: -400px;
    position: relative;
    z-index: 22
}

@media (max-width:991px) {
    .case-overview {
        margin-top: 0
    }
}

.fs-120 {
    font-size: 120px;
    line-height: 120px;
}

@media (max-width:991px) {
    .fs-120 {
        font-size: 100px;
        line-height: 100px;
    }
}

@media (max-width:767px) {
    .fs-120 {
        font-size: 80px;
        line-height: 80px;
    }
}

@media (max-width:576px) {
    .fs-120 {
        font-size: 70px;
        line-height: 70px;
    }
}

.mb-60 {
    margin-bottom: 60px
}

@media (max-width:576px) {
    .mb-60 {
        margin-bottom: 40px
    }
}

.visual-design .splide__list {
    gap: 30px !important
}

@media (max-width:991px) {
    .visual-design .splide__list {
        gap: 12px !important
    }
}

.visual-design .splide__arrow {
    display: none !important
}

.visual-design .splide__pagination__page {
    display: none !important
}

.blog-header-tab {
    border-bottom: 1px solid #aab4cf
}

@media (max-width:991px) {
    .blog-header-tab .search-btn{
        padding-left: 16px !important;
    }
}

.blog-header-tab .nav-pills {
    margin-bottom: -1.5px !important
}

.blog-header-tab .nav-pills .nav-link {
    border-radius: 0;
    border-bottom: 2px solid transparent
}

@media (max-width:1500px) {
    .blog-header-tab .nav-pills .nav-link {
        font-size: 14px !important
    }
}

.blog-header-tab .nav-pills .nav-link.active {
    background-color: transparent;
    color: #5648ff;
    border-color: #5648ff
}

.blog-header-tab .nav-pills .nav-link:hover {
    color: #5648ff
}

.blog-header-tab .search-btn:focus {
    border: 0 !important
}

.searchBar {
    width: 10%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s linear;
}

.searchBar.has-visible {
    width: 100%;
    opacity: 1;
    visibility: visible;
    right: 0;
}

.searchBar .search-wrap .form-control:focus {
    box-shadow: none;
    border-color: #5648ff
}

.recent-post .recent-post-item span {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    color: #001345;
    transition: .2s all linear
}

.recent-post .recent-post-item:hover span {
    color: #5648ff
}

.details-card-item {
    border: 1px solid #e3e8f8;
    background: #fff;
    box-shadow: 0 30px 30px 0 rgba(0, 19, 69, .03);
    padding: 20px;
    transition: .2s all linear
}

.details-card-item:hover {
    box-shadow: 0 30px 60px 0 rgba(0, 19, 69, .15)
}

.details-card-item h4 {
    color: #00314d;
    font-size: 18px;
    font-weight: 600
}

.details-card-item p {
    color: #265068;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px
}

.details-link {
    padding: 11px 10px;
    text-align: center;
    background-color: #5648ff;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    transition: .2s all linear
}

.details-link:hover {
    background-color: #36b7ff;
    color: #fff
}

.wb-blog-details-quote {
    margin: 60px 0;
    padding: 30px;
    border-top: 1px solid var(--primary-color-system-indigo-dye, #5648ff);
    border-right: 1px solid var(--primary-color-system-indigo-dye, #5648ff);
    border-bottom: 5px solid var(--primary-color-system-indigo-dye, #5648ff);
    border-left: 1px solid var(--primary-color-system-indigo-dye, #5648ff);
    background: var(--primary-color-system-indigo-dye-light, #f3f2ff);
    box-shadow: 0 20px 30px 0 rgba(0, 49, 77, .05)
}

.wb-blog-details-quote h3 {
    color: #001345;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 15px
}

@media (max-width:768px) {
    .wb-blog-details-quote h3 {
        font-size: 20px;
        line-height: 30px
    }
}

.wb-blog-details-quote p {
    color: #384973;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px
}

.wb-blog-details-quote .quote-line {
    background: linear-gradient(90deg, #5648ff 0, rgba(86, 72, 255, 0) 100%);
    max-width: 238px;
    width: 100%;
    height: 1px
}

.faq-area .apps-accordion-wrapper-main-114 .accordion-item {
    background: #fff;
    box-shadow: 0 30px 30px 0 rgba(0, 19, 69, .03);
    margin-bottom: 15px;
    transition: .2s all linear
}

.faq-area .apps-accordion-wrapper-main-114 .accordion-item:hover {
    box-shadow: 0 30px 30px 0 rgba(0, 19, 69, .1);
    background-color: #fff !important
}

.faq-area .apps-accordion-wrapper-main-114 .accordion-item .accordion-button {
    padding: 20px 30px;
    color: #384973;
    font-size: 16px;
    font-weight: 700
}

.faq-area .apps-accordion-wrapper-main-114 .accordion-item .accordion-button::after {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 15.2671L7 10.2671H17L12 15.2671Z' fill='%23AAB4CF'/%3E%3C/svg%3E%0A")
}

.faq-area .apps-accordion-wrapper-main-114 .accordion-item .accordion-body {
    padding: 0 30px
}

.faq-area .apps-accordion-wrapper-main-114 .accordion-item .accordion-button:focus {
    box-shadow: none !important;
    background-color: #fff !important;
    color: #5648ff
}

.accordion-button:not(.collapsed) {
    color: #5648ff;
    font-size: 16px;
    font-weight: 700
}

.wb-blog-details-box {
    padding: 30px;
    border: 1px solid #e3e8f8;
    background-color: #fff
}

.wb-blog-details-box h3 {
    color: #00314d;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 15px
}

@media (max-width:768px) {
    .wb-blog-details-box h3 {
        font-size: 20px;
        line-height: 30px
    }
}

.blog-slide-active .single-blog {
    padding: 2.13px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: center;
    box-shadow: 0 30px 30px 0 rgba(0, 19, 69, .03)
}

@media (max-width:576px) {
    .case-details-content .fs-64 {
        font-size: 44px
    }
}

.searchBar .search-wrap .cross-btn {
    top: 50%;
    transform: translateY(-50%);
    right: -60px;
}

.searchBar .search-wrap .cross-btn:focus {
    border: 0 !important
}

.searchBar .search-wrap .form-control {
    height: 52px;
    border-radius: 0;
}

.blog-main .blogCart-section-title {
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e8f8
}

.blog-main .blog-slide-active {
    margin-top: 30px
}

.blog-main .blog-slide-active .splide__arrow {
    background-color: #97a3c1;
    height: 50px;
    width: 50px;
    transition: .2s all
}

.blog-main .blog-slide-active .splide__arrow svg {
    fill: #fff
}

.blog-main .blog-slide-active .splide__arrow:hover:not(:disabled) {
    background-color: #5648ff
}

.blog-main .blog-slide-active .splide__arrow--next {
    right: -5em
}

@media (max-width:1200px) {
    .blog-main .blog-slide-active .splide__arrow--next {
        right: -1em
    }
}

.single-blog .case-study-img img {
    object-fit: cover;
    height: 100%;
    width: 100%
}

.single-blog .case-study-img,
.single-blog .featured-image {
    height: 100%
}

.blog-main .blog-slide-active .splide__arrow--prev {
    left: -5em
}

@media (max-width:1200px) {
    .blog-main .blog-slide-active .splide__arrow--prev {
        left: -1em
    }
}

.testimonial .splide__arrow {
    background-color: #97a3c1;
    height: 50px;
    width: 50px;
    transition: .2s all linear
}

.testimonial .splide__arrow svg {
    fill: #fff
}

.testimonial .splide__arrow:hover:not(:disabled) {
    background-color: #5648ff
}

.testimonial .splide__arrow--next {
    right: -4em !important
}

.testimonial .splide__arrow--prev {
    left: -4em !important
}

@media (max-width:1200px) {
    .testimonial .splide__arrow--next {
        right: -4em !important
    }

    .testimonial .splide__arrow--prev {
        left: -4em !important
    }
}

@media (max-width:600px) and (min-width:450px) {
    .testimonial .splide__arrow--prev {
        position: absolute;
        top: calc(100% + 50px);
        left: 35% !important
    }

    .testimonial .splide__arrow--next {
        position: absolute;
        top: calc(100% + 50px);
        right: 35% !important
    }

    .testimonial-container {
        padding: 20px 20px 70px 20px !important
    }
}

@media (max-width:469px) and (min-width:320px) {
    .testimonial .splide__arrow--prev {
        position: absolute;
        top: calc(100% + 50px);
        left: 30% !important
    }

    .testimonial .splide__arrow--next {
        position: absolute;
        top: calc(100% + 50px);
        right: 30% !important
    }

    .testimonial-container {
        padding: 20px 20px 70px 20px !important
    }
}

.testimonial .single-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: center;
    box-shadow: 0 30px 30px 0 rgba(0, 19, 69, .03)
}

@media (max-width:991px) {
    .blog-main .blog-slide-active .single-blog {
        grid-template-columns: 1fr
    }
}

.splide-blog .splide__pagination {
    display: none !important
}

.blog-main .blog-slide-active .read-more:hover span h4 {
    color: #5648ff
}

.blog-main .blog-slide-active .read-more:hover span svg * {
    fill: #5648ff !important
}

.workBorder {
    flex-shrink: 0;
    width: 1px !important
}

.testimonial-container {
    max-width: 1270px;
    width: 100%;
    margin: auto;
    padding: 0 80px
}

@media (max-width:991px) {
    .blog-main .blog-slide-active .single-blog {
        grid-template-columns: 1fr
    }
}

.slider-container {
    max-width: 1260px;
    width: 100%;
    margin: auto;
    padding: 0 80px
}

@media (max-width:991px) {
    .wb-blog-details h1 {
        font-size: 40px;
        line-height: 50px
    }
}

@media (max-width:768px) {
    .wb-blog-details h1 {
        font-size: 36px;
        line-height: 46px
    }
}

@media (max-width:556px) {
    .wb-blog-details h1 {
        font-size: 30px;
        line-height: 40px
    }
}

.categories .category-item {
    padding: 4px 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #5648ff;
    background-color: #f3f2ff;
    transition: .2s all linear
}

.categories .category-item:hover {
    color: #fff;
    background-color: #5648ff
}

.wb-blog-details-box h3 {
    color: #00314d;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 15px
}

@media (max-width:768px) {
    .wb-blog-details-box h3 {
        font-size: 20px;
        line-height: 30px
    }
}

@media (max-width:767px) {
    .slider-container {
        padding: 0 19px
    }

    .blog .subBanner {
        min-height: auto;
        padding-block: 80px 100px;
        padding-bottom: 70px
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .blog .subBanner {
        min-height: auto;
        padding-block: 100px 100px;
        padding-bottom: 60px
    }
}

.pb-120-i {
    padding-bottom: 120px !important
}

@media (max-width:991px) {
.pb-120-i {
    padding-bottom: 80px !important
}
}
@media (max-width:667px) {
.pb-120-i {
    padding-bottom: 60px !important
}
}

.wb-blog-details .blog-details-img img {
    width: 100%
}

.service .service-wrapper.row .service-item:hover img {
    transform: scale(.97)
}

.service .service-wrapper.row .service-item img {
    transition: all .3s
}

.service .service-wrapper.row .service-item:hover .read-more .arrow-svg {
    transform: rotate(45deg)
}

.service .service-wrapper.row .service-item:hover .read-more span span {
    color: #5648ff
}

.service .service-wrapper.row .service-item:hover .read-more svg * {
    fill: #5648ff
}

@media (min-width:1200px) {
    .workProcess-wrap .row .col-xl-3.mb-4:nth-child(5) .workProcessItem .workBorder {
        margin-left: -5px !important
    }
}

.service-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical
}

.service-content h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical
}

.form-wrapper .select-menu.form-control {
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0001 14.7019L6.69238 9.39422L7.40008 8.68652L12.0001 13.2865L16.6001 8.68652L17.3078 9.39422L12.0001 14.7019Z" fill="%23384973"/></svg>');
    background-position: 98% center
}

.home-filtered-blog-post-114 .service-item h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical
}

.home-filtered-blog-post-114 .service-item p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical
}

.wb-blog-load-more-btn.bg-btn.banner-btn {
    padding: 10px 30px 10px 30px !important
}



/* blog details update start - 30-8-23 */

@media (min-width:1200px) {

    .wb-blog-details.pt-105 {
        padding-top: 122px !important;
    }
}

@media (max-width:1199px) {

    .wb-blog-details.pt-105 {
        padding-top: 60px !important;
    }
}

.wb-blog-details {
    padding-bottom: 120px;
}

.wb-blog-details h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001345;
    margin-top: 40px;
}

.wb-blog-details .blog-details-wrap h2 {
    color: #001345;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 60px;
}

.wb-blog-details .blog-details-wrap h3 {
    color: #001345;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 10px;
}

.wb-blog-details .blog-details-wrap h4 {
    color: #001345;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 60px;
}

.wb-blog-details .blog-details-wrap h5 {
    color: #001345;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 60px;
}

.wb-blog-details .blog-details-wrap h6 {
    color: #001345;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 60px;
}

.wb-blog-details .blog-details-wrap p {
    color: #384973;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 40px !important;
}

.wb-blog-details .blog-details-wrap span {
    color: #384973;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

@media (max-width: 991px) {
    .wb-blog-details h1 {
        font-size: 42px;
        line-height: 52px;
    }

    .wb-blog-details .blog-details-wrap h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .wb-blog-details .blog-details-wrap h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .wb-blog-details .blog-details-wrap h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .wb-blog-details .blog-details-wrap h5 {
        font-size: 18px;
        line-height: 28px;
    }

    .wb-blog-details .blog-details-wrap h6 {
        font-size: 14px;
        line-height: 24px;
    }

    .wb-blog-details .blog-details-wrap p {
        font-size: 14px;
        line-height: 24px;
    }

    .wb-blog-details .blog-details-wrap span {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 668px) {
    .wb-blog-details h1 {
        font-size: 38px;
        line-height: 48px;
    }

    .wb-blog-details .blog-details-wrap h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .wb-blog-details .blog-details-wrap h3 {
        font-size: 26px;
        line-height: 37px;
    }

    .wb-blog-details .blog-details-wrap h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .wb-blog-details .blog-details-wrap h5 {
        font-size: 14px;
        line-height: 22px;
    }

    .wb-blog-details .blog-details-wrap h6 {
        font-size: 14px;
        line-height: 22px;
    }

    .wb-blog-details .blog-details-wrap p {
        font-size: 14px;
        line-height: 22px;
    }

    .wb-blog-details .blog-details-wrap span {
        font-size: 14px;
        line-height: 22px;
    }
}

.blog-details-wrap ul {
    margin-bottom: 40px !important;
}

.container.uiexpertz-blog-header-tab-container-114 {
    transform: translateY(-61px) translateX(-34px);
    position: relative;
    max-width: 1042px;
    z-index: 9;
}

@media (max-width:1200px) {
    .container.uiexpertz-blog-header-tab-container-114 {
        transform: translateY(-61px) translateX(-34px);
        max-width: 864px;
    }
}

@media (max-width: 991px) {
    .container.uiexpertz-blog-header-tab-container-114 {
        transform: translateY(-66px) translateX(7px);
        max-width: 590px;
    }
}

@media (max-width: 767px) {
    .container.uiexpertz-blog-header-tab-container-114 {
        transform: translateY(-66px) translateX(-19px);
        max-width: 555px;
    }
}

@media (max-width: 767px) {
    .container.uiexpertz-blog-header-tab-container-114 {
        transform: translateY(-66px) translateX(-19px);
        max-width: 493px;
    }
}

@media (max-width: 567px) {
    .container.uiexpertz-blog-header-tab-container-114 {
        transform: translateY(-66px) translateX(-39px);
        max-width: 378px;
    }
}

@media (max-width: 467px) {
    .container.uiexpertz-blog-header-tab-container-114 {
        transform: translateY(-66px) translateX(-31px);
        max-width: 302px;
    }
}

@media (max-width: 370px) {
    .container.uiexpertz-blog-header-tab-container-114 {
        max-width: 257px;
    }
}

.blog-header-tab {
    position: relative;
}

.uiexpertz-blog-header-tab-overlay-114 {
    position: absolute;
    left: 0;
    background: #fff;
    height: 102%;
    width: 100%;
    transition: all .3s;
    z-index: 1;
}

.uiexpertz-blog-header-tab-overlay-114.has-hidden {
    opacity: 0;
    visibility: hidden;
}

.blog-details-wrap ol {
    margin-bottom: 0;
}

.blog-header-tab .blog-tab-list .nav-item {
    flex-shrink: 0;
}



@media (max-width: 991px) {
    .blog-header-tab .nav-pills {
        max-width: 700px;
        overflow-x: scroll;
        justify-content: start !important;
    }
}

.blog-header-tab .nav-pills::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.blog-header-tab .nav-pills::-webkit-scrollbar-track {
    background-color: #75a4d769;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.blog-header-tab .nav-pills::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #5ba9ff;
}

.blog-details-wraps h4 strong,
.blog-details-wraps h3 strong,
.blog-details-wraps h2 strong,
.blog-details-wraps h1 strong {
    color: #36B7FF;
    font-weight: 400;
}


@media (max-width: 768px) {
    .blog-tab-list .nav-pills.pb-3 {
        padding-bottom: 0px !important;
    }
}



/* comments css */

.comments-area form.comment-form input[type=email], .comments-area form.comment-form input[type=text], .comments-area form.comment-form input[type=url] {
    width: 100%;
    height: 44px;
    border-radius: 4px !important;
    border: 1px solid #AAB4CF !important;
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #384973;
    font-weight: 400;
    line-height: 1.62em;
}
p.comment-form-comment textarea {
    width: 100%;
    height: 160px;
    padding: 15px;
    line-height: 1.3;
    border: 1px solid #AAB4CF;
    border-radius: 3px;
}
.comments-area p.form-submit input.submit {
    border-radius: 4px;
    background: #5648FF;
    border: 0;
    height: 54px;
    padding: 0 30px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    transition: .3s all linear;
}
.comments-area p.form-submit input.submit:hover {
    background: #36b7ff;
}
.apps-comment-114 .comment-respond .comment-reply-title {
    color: #003959!important;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 0;
}
.apps-comment-114 .comments-area .comment-form>p.comment-form-author, .apps-comment-114 .comments-area .comment-form>p.comment-form-email {
    width: calc(50% - 15px);
    display: inline-block;
    margin: 0 0;
}
.apps-comment-114 .comments-area .comment-form>p.comment-form-author {
    margin-right: 15px;
}
.apps-comment-114 .comments-area .comment-form>p.comment-form-email {
    margin-left: 11px;
}
p.comment-form-comment textarea {
    width: 100%;
    height: 160px;
    padding: 15px;
    line-height: 1.3;
    border: 1px solid #AAB4CF;
    border-radius: 3px;
}
.apps-comment-114 .comments-area form.comment-form label {
    color: #001345;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.comment-list li.comment {
    max-width: 730px;
}
.apps-comment-box-single-blog-114 {
    display: flex;
    gap: 25px;
}
.apps-comment-box-single-blog-image-114 {
    width: 83px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-list li {
    list-style: none;
}
.apps-comment-114 .comments-area>ol.comment-list li .apps-comment-box-single-blog-content-114 {
    border-bottom: 1px solid var(--dark-dark-6,#AAB4CF);
    padding-bottom: 30px;
    flex: 1;
}
.apps-comment-box-single-blog-114 .apps-comment-meta-top-114 {
    margin-bottom: 23px;
}
.apps-comment-title-114 {
    margin-bottom: 0;
}
.apps-comment-title-114 a {
    color: #003959;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
}
.apps-comment-title-114 a {
    color: #003959;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
}
.comment-list .reply a {
    color: #1f516d;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}
.apps-comment-box-single-blog-114 .apps-comment-title-114 {
    margin-top: 0px !important;
}

.apps-comment-box-single-blog-image-114 img {
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    width: 80px;
    margin: 5px;
}
.apps-comment-box-single-blog-image-114::after {
    content: "";
    background-image: url(../img/avater-bg-shape.svg);
    background-repeat: no-repeat;
    width: 83px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.apps-comment-114 .comment-respond {
    border-radius: 6px!important;
    background: var(--white,#fff)!important;
    box-shadow: 0 10px 30px 0 rgba(0,57,89,.1)!important;
    margin: 0;
    padding: 40px;
    margin-bottom: 30px;
}

.apps-comment-114 .comments-area>ol.comment-list .children {
    padding-left: 107px;
    /* border-bottom: 1px solid var(--dark-dark-6,#baddf0); */
    padding-bottom: 0;
}

.apps-comment-114 .comments-area>ol.comment-list>li:not(:last-child) {
    margin-bottom: 34px;
}
.comment-list li.comment:not(:first-child) {
    padding-top: 37px;
}
.mb-30 {
    margin-bottom: 30px;
}
.comments-area {
    margin-top: 45px;
}

.apps-comment-114 .comments-area h3 {
    color: #003959;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 60px;
}
.apps-comment-114 .comments-area form.comment-form label {
    color: #001345;
    font-size: 14px;
    font-weight: 700;
}

.comments-area .comment-respond .comment-reply-title small {
    font-size: 18px;
}
.comments-area .comment-respond .comment-reply-title small a {
    color: #0063d1;
    text-decoration: none;
}
.comments-area .comment-reply-title a#cancel-comment-reply-link {
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.comments-area form.comment-form label {
    margin-bottom: 7px;
}

.comment-form .logged-in-as a {
    color: #5648FF!important;
    font-size: 16px!important;
    text-decoration: underline!important;
}
.comment-form .logged-in-as a:hover {
    color: #36B7FF!important;
}

.footer-widget ul li a:hover {
    color: #5648FF;
}

@media (max-width:991px) {
    .subBanners.pb-120{
        padding-top: 120px !important;
    }
}
@media (max-width:768px) {
    .uiexpertz-footer-114 .footer .footer-bottom .row {
        flex-direction: column-reverse;
    }
}

a.back-to-blog:hover span {
    color: #36b7ff !important;
}


a.back-to-blog:hover svg * {
    fill: #36b7ff !important;
}

/* social icon */
.ui-social-links .ui-social-link {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0E3EC;
    border-radius: 100px;
    transition: .2s all linear;
    margin-top: 20px;
}

.ui-social-links .ui-social-link:hover {
    background-color: #5648FF;
}

.ui-social-links .ui-social-link svg *{
    transition: .3s all linear;
}

.ui-social-links .ui-social-link:hover svg * {
    fill: #fff !important;
}

.ui-social-links {
    display: flex;
    align-items: center;
    gap: 15px;
}


.blog-main .blog-slide-active .single-blog .blog-info a:hover{
    color: #5648ff !important;
}
.footer-widget ul.menu li a:hover{
    color: #5648ff !important;
}

.blog-slide-active .splide__pagination{
    display: none !important;
}