/**
 * @Main scss for (Template/Project Name)
 * @project     - Wadi_Al_Bada
 * @author      - Wadi_Al_Bada
 * @created_by  - Wadi_Al_Bada Team
 * @created_at  - 29th March 2023
 * @modified_by -
 */

/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/* fonts import -END */

/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: "Manrope", sans-serif !important;
    overflow-x: hidden !important;
}

:root {
    --blue: #001345;
    --skyBlue: #9db9ff;
    --sky: #36b7ff;
    --darkBlue: #5648ff;
    --mezenda: #ff368b;
    --gray: #384973;
    --lightGray: #ebf0ff;
    --lightPink: #f3f2ff;
    --gray2: #97A3C1;
}

/* reset, root - END */

// container resize
.container {
    @media (min-width: 1400px) {
        max-width: 1138px;
        padding: 0 15px;
    }
}

.section-header {
    padding: 0 20px;
}

// a {
//     &:hover {
//         color: var(--mezenda);
//     }
// }

// container resize - end

.pt-100 {
    padding-top: 100px;

    @media (max-width: 991px) {
        padding-top: 70px;
    }
}

.section-heading {
    max-width: 732px;
    width: 100%;
    margin: auto;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-8 {
    margin-bottom: 8px;
}

.section-padding {
    padding: 100px 0;

    @media (max-width: 991px) {
        padding: 70px 0;
    }
}

.closeMenu {
    display: none;
}

// button style

.link-text {
    text-decoration: none;
    transition: all 0.2s linear;

    &:hover {
        color: var(--mezenda) !important;
    }
}

.nav-bg-btn {
    height: 42px !important;
    transition: 0.2s all linear;

    &:hover,
    &.active {
        background-color: var(--darkBlue) !important;
        color: #fff;
    }
}

.bg-btn {
    transition: all 0.2s linear;
    height: 52px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--darkBlue) !important;

    &:hover,
    &.active {
        background-color: var(--blue) !important;
        color: #fff;

        svg * {
            fill: #fff !important;
        }
    }

    &.banner-btn {
        padding: 10px 50px 10px 30px !important;

        .btn-icon {
            right: 25px;
            transition: all 0.2s linear;
        }

        &:hover,
        &.active {
            background-color: var(--sky) !important;
            border: 1px solid var(--sky) !important;

            .btn-icon {
                right: 20px;
            }
        }
    }

    @media (max-width: 480px) {
        font-size: 12px;
        padding: 14px 50px 14px 25px;
    }
}

/* helper , base classes */

// text-color
.text-clr-blue {
    color: var(--blue);
}

.text-clr-darkBlue {
    color: var(--darkBlue);
}

.text-clr-sky {
    color: var(--sky);
}

.text-clr-skyBlue {
    color: var(--skyBlue);
}

.text-clr-mezenda {
    color: var(--mezenda);
}

.text-clr-gray {
    color: var(--gray);
}
.text-clr-gray2 {
    color: var(--gray2);
}

// BG color
.bg-clr-blue {
    background-color: var(--blue);
}

.bg-clr-darkBlue {
    background-color: var(--darkBlue);
}

.bg-clr-sky {
    background-color: var(--sky);
}

.bg-clr-skyBlue {
    background-color: var(--skyBlue);
}

.bg-clr-mezenda {
    background-color: var(--mezenda);
}

.bg-clr-lightGray {
    background-color: var(--lightGray);
}

.bg-clr-lightPink {
    background-color: var(--lightPink);
}

//letter spacing

.ls-1 {
    letter-spacing: 0.1em;
}

// fonts
.fs-6 {
    @media (max-width: 480px) {
        font-size: 14px !important;
        line-height: 24px !important;
    }
}

.fs-4 {
    @media (max-width: 576px) {
        font-size: 16px !important;
        line-height: 26px !important;
    }
}

.fs-10 {
    font-size: 10px;
    line-height: 20px;
}

.fs-18 {
    font-size: 18px;
    line-height: 34px;

    @media (max-width: 767px) {
        font-size: 15px;
        line-height: 25px;
    }
}

.fs-12 {
    font-size: 12px;
    line-height: 22px;
}

.fs-14 {
    font-size: 14px;
    line-height: 24px;

    @media (max-width: 767px) {
        font-size: 12px;
        line-height: 21px;
    }
}

.fs-22 {
    font-size: 22px;
    line-height: 32px;

    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 26px;
    }
}

.fs-40 {
    font-size: 40px;
    line-height: 50px;

    @media (max-width: 767px) {
        font-size: 32px;
        line-height: 42px;
    }
}

.fs-48 {
    font-size: 48px;
    line-height: 54px;

    @media (max-width: 767px) {
        font-size: 40px;
        line-height: 50px;
    }

    @media (max-width: 556px) {
        font-size: 32px;
        line-height: 42px;
    }
}

.fs-13 {
    font-size: 13px;

    @media (max-width: 556px) {
        font-size: 12px;
    }
}

.fw-medium {
    font-weight: 500;
}

.fw-extraBold {
    font-weight: 800;
}

.fw-semi-bold {
    font-weight: 600;
}

//letter-spacing
.ls-1 {
    letter-spacing: 0.15em;
}

//box shadows

.box-shadow1 {
    box-shadow: 0px 5px 10px rgba(0, 60, 79, 0.1);
}

.box-shadow2 {
    box-shadow: 0px 20px 40px rgba(0, 60, 79, 0.1);
}

.box-shadow5 {
    box-shadow: 0px 15px 40px 0px rgba(22, 8, 49, 0.1);
}
.box-shadow4 {
    box-shadow: 0px 5px 10px rgba(0, 60, 79, 0.1);
    transition: 0.2s all linear;

    &:hover {
        box-shadow: 0px 10px 10px rgba(0, 60, 79, 0.1);
    }
}

// Border Radius
.radius-6 {
    border-radius: 6px;
}

.radius-12 {
    border-radius: 12px;
}

.radius-16 {
    border-radius: 16px;
}
.border-gray{
    border: 1px solid #AAB4CF;
}
//border

/* helper , base classes  - END*/

/* mobile header style*/
.mobileMenu {
    position: relative;

    .mobileMenu-container {
        max-width: 1840px;
        width: 100%;
        margin: auto;
    }

    .mobileMenu-wrapper {
        position: fixed;
        height: 0vh;
        opacity: 0;
        visibility: hidden;
        padding: 0px 40px 40px 40px;
        transition: 0.1s all linear;
        background-color: var(--blue);
        width: 100%;

        .navbar-nav {
            width: 100%;

            .nav-item {
                .nav-link {
                    border-bottom: 1px solid #263062;
                    display: block;
                }
            }
        }
    }

    .mobileMenu-action {
        height: 93vh;
        opacity: 1;
        visibility: visible;
        transition: 0.1s all linear;
    }

    .navbar {
        .mobileMenu-header {
            height: 70px;
            width: 100%;
            background-color: #283b6c;
            padding: 0 40px;

            @media (max-width: 576px) {
                padding: 0 20px;
            }
        }

        .navbar-toggler-icons {
            img {
                width: 40px;

                @media (max-width: 776px) {
                    width: 35px;
                }
            }

            &.closeMenu {
                img {
                    width: 30px;

                    @media (max-width: 776px) {
                        width: 26px;
                    }
                }
            }
        }
    }
}

/* mobile header style*/

/* header style*/
#header,
.mobileMenu {
    z-index: 999;
    background-color: var(--deep-dark);

    transition: all 0.2s linear;

    nav,
    .navbar-brand img {
        transition: all 0.2s linear;
    }

    .container-fluid {
        max-width: 1840px;

        @media (min-width: 1400px) {
            max-width: 1760px;
        }
    }

    .navbar-nav {
        @media (min-width: 1400px) {
            margin-left: 120px;
        }

        .nav-item {
            .nav-link {
                padding: 13px 10px;

                &::after {
                    transition: 0.2s all linear;
                }

                &:hover {
                    &::after {
                        transform: rotate(180deg);
                    }

                    &.dropdown-toggle {
                        &::after {
                            background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6.0625L0 1.0625L1.0625 0L5 3.9375L8.9375 0L10 1.0625L5 6.0625Z' fill='%23FF368B'/%3E%3C/svg%3E%0A") !important;
                            height: 7px;
                            width: 10px;
                            border: none;
                        }
                    }
                }

                @media (max-width: 1200px) {
                    padding: 13px 0px;
                }

                &.dropdown-toggle {
                    &::after {
                        vertical-align: 1px;
                        background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6.0625L0 1.0625L1.0625 0L5 3.9375L8.9375 0L10 1.0625L5 6.0625Z' fill='%239DB9FF'/%3E%3C/svg%3E%0A");
                        height: 7px;
                        width: 10px;
                        border: none;
                    }
                }
            }

            &.custom-dropdown {
                position: relative;

                .dropArrow {
                    visibility: hidden;
                    opacity: 0;
                    text-align: center;
                    left: 0;
                    right: 0;
                    width: 100%;
                    top: 50px;
                    // transition: .1s all linear;

                    @media (max-width: 1200px) {
                        text-align: left !important;
                        left: 5% !important;
                    }
                }

                &:hover {
                    .custom-dropdown-menu {
                        // visibility: visible;
                        opacity: 1;
                        display: block;
                        z-index: 5555;
                    }

                    .dropArrow {
                        visibility: visible;
                        opacity: 1;
                        top: 45px;

                        @media (max-width: 1200px) {
                            top: 28px;
                        }

                        @media (max-width: 768px) {
                            img {
                                margin-bottom: -5px;
                            }
                        }
                    }
                }

                .custom-dropdown-menu {
                    // visibility: hidden;
                    opacity: 0;
                    display: none;
                    background-color: white;
                    padding: 25px;
                    border-radius: 10px;
                    transition: opacity 0.2s all linear;

                    &.mega-menu1 {
                        position: absolute;
                        min-width: 355px;
                        left: -55px;
                        top: 51px;

                        @media (max-width: 1200px) and (min-width: 676px) {
                            left: 0px;
                        }

                        @media (max-width: 677px) and (min-width: 300px) {
                            left: 0px;
                            min-width: auto !important;
                        }

                        .widget-menu-list {
                            a {
                                transition: all 0.2s linear;

                                &:hover {
                                    color: var(--main-extra-light);
                                    padding-left: 5px;
                                }
                            }
                        }

                        &.mega-menu2 {
                            min-width: 209px;
                            padding: 0;

                            @media (max-width: 1200px) {
                                margin: initial;
                            }

                            .m-menu-widget2 {
                                .widget-menu-list {
                                    a {
                                        transition: all 0.2s linear;

                                        &:hover {
                                            color: var(--dark1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .nav-link {
                transition: all 0.2s ease;

                &.active,
                &:focus,
                &:hover {
                    color: var(--mezenda);
                }
            }
        }
    }

    .navbar-toggler {
        box-shadow: none;
        outline: none;

        // img {
        //     width: 36px;
        // }
    }

    &.fixed-header {
        position: fixed;
        background-color: #0c1d4a;

        nav {
            padding: 8px 0 8px 0 !important;
        }

        .navbar-brand {
            img {
                transform: scale(0.9);
            }
        }
    }
}

/* header style - END*/
/* header style - END*/

/* banner style */

.subBanner {
    min-height: 700px;
    padding-block: 230px 100px;

    &.blog-details-banner {
        min-height: 544px !important;
    }
}

.banner {
    .container-fluid {
        max-width: 1840px;

        @media (min-width: 1400px) {
            max-width: 1760px;
        }
    }

    .banner-wrapper {
        padding-top: 180px;
        min-height: 880px;

        @media (max-width: 550px) {
            padding-top: 80px;
        }

        .our-strategy {
            flex-wrap: nowrap;

            @media (max-width: 550px) {
                flex-wrap: wrap;
            }

            .strategy-item {
                .icon {
                    flex-shrink: 0;
                }

                @media (max-width: 550px) {
                    flex-basis: 166px;
                }

                @media (max-width: 390px) {
                    flex-basis: 146px;
                }
            }
        }
    }
}

/* banner style - END*/

/* service - start*/
.service-item {
    box-shadow: 0px 0px 20px rgba(0, 19, 69, 0.05);
    transition: 0.2s all linear;

    &:hover {
        box-shadow: 0px 10px 20px rgba(0, 19, 69, 0.1);
    }

    .read-more {
        svg * {
            fill: #384973;
        }

        .arrow-svg {
            transition: 0.2s all linear;
        }

        &:hover {
            h4 {
                color: #5648ff !important;
            }

            .arrow-svg {
                transform: rotate(45deg);
            }

            svg * {
                fill: #5648ff;
            }
        }
    }
}

/*service - END*/

/*Work process - start*/
.process-count {
    position: relative;

    .count-shape {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
        height: 48px;
        border-radius: 100%;
        z-index: -22;
        top: -13px;
    }
}

.workProcessItem {
    h2 {
        width: 42px;
    }

    .workBorder {
        width: 1px;
        min-height: 205px;
        background-color: #001345;

        @media (max-width: 1200px) {
            min-height: 160px;
        }
    }
}

/*workprocess - END*/

/*brand - start*/

.brand-wrap {
    animation: animated-slide 15s linear infinite;

    .brand-item {
        width: 285px;
        height: 285px;
        background-color: transparent;
        flex-shrink: 0;
        position: relative;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            left: -10px;
            right: 0;
            top: -10px;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            border: 1px solid #11275f;
            border-radius: 100%;
        }

        &:hover {
            &::after {
                border: 1px solid #11275f;
                background: #11275f;
                z-index: -2;
            }
        }

        @media (max-width: 768px) {
            width: 190px;
            height: 190px;

            &::after {
                width: calc(100% + 10px);
                height: calc(100% + 10px);
            }

            img {
                max-width: 60% !important;
            }
        }

        @media (max-width: 576px) {
            width: 160px;
            height: 160px;

            &::after {
                width: calc(100% + 10px);
                height: calc(100% + 10px);
            }

            // img {
            //     max-width: 60% !important;
            // }
        }
    }
}

@keyframes animated-slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-285px * 8));
    }
}

@media (max-width: 768px) {
    @keyframes animated-slide {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-190px * 8));
        }
    }
}

@media (max-width: 576px) {
    @keyframes animated-slide {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-160px * 8));
        }
    }
}

// .brand-wrap {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);

//     @media (max-width: 600px) {
//         grid-template-columns: repeat(2, 1fr);
//     }
//     .brand-item {
//         padding: 30px 8px;
//         text-align: center;
//         &.border-right {
//             border-right: 1px solid #1d3574 !important;
//             @media (max-width: 600px) {
//                 border-right: 0px solid transparent !important;
//             }
//         }
//         &.border-bottom {
//             border-bottom: 1px solid #1d3574 !important;
//             @media (max-width: 600px) {
//                 border-bottom: 1px solid transparent !important;
//             }
//         }
//     }
// }

/*brand - END*/

/*testimonial - start*/

.testimonial {
    .testimonial-slider {
        padding-bottom: 60px;
    }

    .swiper-button-prev-unique {
        bottom: 100px;
        left: 0px;

        @media (max-width: 650px) {
            display: none !important;
        }
    }

    .swiper-button-next-unique {
        bottom: 100px;
        right: 0px;

        @media (max-width: 650px) {
            display: none !important;
        }
    }

    //  @media (min-width:991px){
    //        .swiper-pagination-bullets {
    //         display: none;
    //     }
    //  }
}

.case-study {
    .swiper-button-prev-unique {
        bottom: 220px;
        left: 0px;
    }

    .swiper-button-next-unique {
        bottom: 220px;
        right: 0px;
    }

    .case-study-wrap {
        .swiper-wrapper {
            padding: 50px 0;
        }
    }
    .swiper-button-prev-unique {
        bottom: 350px;
        left: 0px;

        @media (max-width: 650px) {
            display: none !important;
        }
    }
    .swiper-button-next-unique {
        bottom: 350px;
        right: 0px;

        @media (max-width: 650px) {
            display: none !important;
        }
    }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    min-width: 30ox !important;
    height: 2px !important;
    width: 30px;
    background-color: #bcc4da;
    border-radius: 0 !important;

    &.swiper-pagination-bullet-active {
        background-color: #5648ff;
    }
}

svg * {
    &.btn-swiper {
        fill: #97a3c1 !important;
        transition: 0.2s all linear;

        &:hover {
            fill: #5648ff !important;
        }
    }
}

/*testimonial - END*/

/* contact - start */

.contact {
    .contactImg {
        img {
            @media (min-width: 991px) {
                max-width: 80%;
            }

            @media (min-width: 667px) and (max-width: 990px) {
                max-width: 60%;
            }
        }
    }

    .contact-wrap {
        padding: 0 60px 0 0;

        @media (max-width: 991px) {
            padding: 0 30px 0 30px;
        }
    }

    .footer-bg {
        background-image: url(../img/footershape.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.contact-form {
    .form-control {
        border: 1px solid #aab4cf;
        height: 52px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #384973;
        border-radius: 0px !important;

        &:focus {
            box-shadow: none !important;
            border-color: #5648ff;
        }
    }

    .form-select {
        border: 1px solid #aab4cf;
        height: 52px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #384973;

        &:focus {
            box-shadow: none !important;
            border-color: #5648ff;
        }
    }

    .form-check-input {
        &:focus {
            box-shadow: none !important;
            border-color: #5648ff;
        }
    }

    .form-btn {
        height: 52px;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        transition: 0.2s all linear;

        &:hover {
            background-color: #6f62fc !important;
        }
    }
}

/* Contact - END*/

/* footer - start*/
.footer {
    padding-top: 100px;
}

/* footer - END*/

/* back to top - start*/
#backToTop {
    width: 42px;
    height: 42px;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 100%;
    background-color: #36b7ff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 16px;
    color: #000000;
    z-index: 1000;
    display: none;
    cursor: pointer;
    transition: all 0.5s;

    svg * {
        margin-bottom: 5px;
        transition: 0.2s all linear;
    }

    &:hover {
        background-color: #ff368b;

        svg * {
            fill: #9db9ff !important;
        }
    }
}

/* back to top - END*/

/*loading  - start*/
#introduction {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 105;
    background-color: #141414;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 99999;
}

#introduction {
    .image-container {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: relative;
    }

    .banner-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 1600px;
    }

    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        background: #fff;
    }

    .slide-2 {
        height: 0;
    }
}

@media (max-width: 768px) {
    #introduction .image-container {
        height: 100vh;
    }
}

.slide-1 {
    z-index: 9999;
}

.image-container {
    background-color: #283b6c;
}

/*loading - END*/

/*accordion- - start*/
.accordion-list-item {
    .ni {
        color: #aab4cf;
    }

    .accordion-title {
        cursor: pointer;
    }

    &.open {
        .accordion-title {
            color: #5648ff !important;
            cursor: pointer;
        }

        .ni {
            color: #5648ff !important;
        }
    }
}

/*accordion - END*/

// WHY CHOOSE UIEXPERTS SECTIONS
#whychooseus {
    .why-choose-us-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 568px) {
            grid-template-columns: 1fr;
        }

        .why-choose-us-item {
            border-bottom: 1px solid #aab4cf;
            border-right: 1px solid #aab4cf;
            padding: 30px 50px;

            &:nth-child(3) {
                border-right: 1px solid transparent;
            }

            &:nth-child(6) {
                border-right: 1px solid transparent;
            }

            &:nth-last-child(-n + 3) {
                border-bottom: 1px solid transparent;
            }

            @media (max-width: 768px) {
                &:nth-child(2) {
                    border-right: 1px solid transparent;
                }

                &:nth-child(3) {
                    border-right: 1px solid #aab4cf;
                }

                &:nth-child(4) {
                    border-right: 1px solid transparent;
                    border-bottom: 1px solid #aab4cf;
                }
            }

            @media (max-width: 568px) {
                &:nth-child(1) {
                    border-right: 1px solid transparent;
                }

                &:nth-child(3) {
                    border-right: 1px solid transparent;
                }

                &:nth-child(5) {
                    border-right: 1px solid transparent;
                    border-bottom: 1px solid #aab4cf;
                }
            }
        }
    }
}

// WHY CHOOSE UIEXPERTS SECTIONS End

// explore experience start
.search-experience {
    .form-control {
        height: 52px;
        background-color: transparent;
        border-radius: 0;

        &:focus {
            box-shadow: none;
            border: 1px solid #aab4cf;
        }
    }
}

.service-item-wrap {
    min-height: 542px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// explore experience End

// CONTACT
#contact {
    textarea {
        height: 102px;
    }
}

/* project info details - start*/
.project-info-details {
    .project-info {
        max-width: 100px;
        width: 100%;
    }
}
/* project info details - END*/

/* user-flow-map - start*/
.user-flow-map {
    background-color: var(--lightGray);
    padding: 120px 0 355px 0;
}
.user-flow-map-content {
    margin-top: -300px;
    padding-bottom: 120px;
}
.flow-map-wrap {
    .flow-map-border {
        height: 1px;
        background-color: #aab4cf;
        height: 1px;
        width: 100%;
        margin: 60px 0;
    }
}

.project-show-img {
    overflow: hidden;

    img {
        transition: 0.2s all linear;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}
.wireframeing {
    margin: 70px 0;
}
/* user-flow-map - END*/

/* blog - start*/
.blog-search {
    text-align: end;
    .search-control {
        height: 52px;
        width: 260px;
        border: 1px solid #aab4cf;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_484_6529)'%3E%3Cpath d='M23.9998 22.5868L17.7378 16.3248C19.3644 14.3354 20.1642 11.7969 19.9716 9.23432C19.7791 6.67179 18.609 4.28129 16.7034 2.55728C14.7977 0.833269 12.3024 -0.0923492 9.73342 -0.0281174C7.16447 0.0361144 4.71848 1.08528 2.9014 2.90237C1.08431 4.71946 0.0351378 7.16545 -0.029094 9.7344C-0.0933258 12.3034 0.832292 14.7987 2.5563 16.7043C4.28031 18.61 6.67081 19.7801 9.23334 19.9726C11.7959 20.1651 14.3344 19.3654 16.3238 17.7388L22.5858 24.0008L23.9998 22.5868ZM9.99978 18.0008C8.41753 18.0008 6.87081 17.5316 5.55522 16.6525C4.23963 15.7735 3.21425 14.524 2.60875 13.0622C2.00324 11.6004 1.84482 9.99188 2.1535 8.44004C2.46218 6.88819 3.22411 5.46272 4.34293 4.3439C5.46175 3.22508 6.88721 2.46316 8.43906 2.15448C9.99091 1.84579 11.5994 2.00422 13.0612 2.60972C14.5231 3.21522 15.7725 4.2406 16.6515 5.5562C17.5306 6.87179 17.9998 8.41851 17.9998 10.0008C17.9974 12.1218 17.1538 14.1552 15.654 15.655C14.1542 17.1548 12.1208 17.9984 9.99978 18.0008Z' fill='%23001345'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_484_6529'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center left 6%;
        padding-left: 48px;

        &:focus {
            border: 1px solid #000;
            outline: 0;
            box-shadow: none;
        }
    }
}
/* blog - END*/

/* blog details - start*/
.blog-details-info {
    .publish-info-line {
        width: 1px;
        height: 20px;
        background-color: #384973;
    }
}

.blog-details {
    .quote {
        border: 1px solid #e3e8f8;
        padding: 30px;
    }

    .shared-article {
        gap: 3;
        border: 1px solid #aab4cf;
        padding: 25px;
    }
}
.sidebar-widget {
    border: 1px solid #aab4cf;
    border-radius: 0;
    input {
        &:focus {
            box-shadow: none;
        }
    }

    .subscribe {
        &::placeholder {
            color: var(--dark4);
        }
    }
}

.shared-article {
    .blog-details-social {
        border: 1px solid #97a3c1;
        padding: 9px;
        transition: 0.2s all linear;
        svg * {
            transition: 0.2s all linear;
        }
        &:hover {
            background-color: #5648ff;

            svg * {
                fill: #fff !important;
            }
        }
    }
}
/* blog details- END*/

/* pagination - start*/
.pagination {
    .page-item {
        margin: 5px;

        .page-link {
            font-size: 16px;
            font-weight: 700;
            &:focus {
                box-shadow: none !important;
                background-color: #5648ff;
                color: #fff;

                svg * {
                    fill: #fff !important;
                }
            }
        }

        &:first-child {
            .page-link {
                border-radius: 0 !important;
            }
        }
        &:last-child {
            .page-link {
                border-radius: 0 !important;
            }
        }
    }
}

/* pagination - end*/
